<% include ../header.ejs %>
<div id="all_series" class="with-header">
	<div class="panel">
		<% if (series.length) { %>
		<ul class="responsive-grid">
			<% _.each(series, function (serie) { %>
			<li class="poster">
				<% if (serie.series_metadata && serie.series_metadata.poster) { %>
					<a class="poster-link" href="/series/view/<%= serie.title %>">
						<img class="video-thumbnail" src="http://thetvdb.com/banners/<%= serie.series_metadata.poster %>" alt="">
					</a>
				<% } %>
				<div class="poster-buttons">
					<a href="#" data-href="/series/favourite/<%= serie.title %>" class="poster-button js-favourite-toggle">
						<i class="fa fa-heart<% if (serie.isFavourite) { %> is-favourite<% } %>"></i>
					</a>
					<a href="#" class="poster-button">
						<i class="fa fa-info-circle"></i>
					</a>
					<div class="clearfix"></div>
				</div>
			</li>
			<% }); %>
			<div class="clearfix"></div>
		</div>
		<% } else { %>
			<div>No series found.</div>
		<% } %>
	</div>
</div>
