<header>
  <ul class="top-nav">
    <li>
      <a class="home" href="/">
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li>
      <a href="/videos/list">All Videos</a>
    </li>
    <li>
      <a href="/series/list">TV</a>
    </li>
  </ul>
</header>
