@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(/fonts/FiraSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans'), url(/fonts/FiraSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-Italic'), url(/fonts/FiraSans-LightItalic.woff) format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: white;
	&:visited, &:active {
		color: white;
	}
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: 'Fira Sans', 'Open Sans', sans-serif;
}

video {
	max-height: 100%;
	max-width: 100%;
}

#watch {
	width: 100%;
	height: 100%;
	.title-information {
		margin-bottom: 1em;
	}
	.meta {
		width: 20em;
		height: 100%;
		background: black;
		background: rgba(0,0,0,0.8);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
		color: white;
		line-height: 2em;
		padding: 1em 1.5em;
	}
	.meta h1, .meta h2 {
		z-index: 10;
		font-weight: 300;
	}
	.meta h2 {
		font-style: italic;
		color: rgb(188, 242, 255);
	}
	.description {
		line-height: 1.75em;
		text-align: justify;
	}
}

.video-container {
	background: black;
	width: 100%;
	height: 100%;
	display: table;
	video {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		height: 100%;
	}
}