@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(/fonts/FiraSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans'), url(/fonts/FiraSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-Italic'), url(/fonts/FiraSans-LightItalic.woff) format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Fira Sans', 'Open Sans', sans-serif;
	font-size: 18px;
	background: black;
}

video {
	max-height: 100%;
	max-width: 100%;
}

.clearfix {
	clear: both;
}

h1, h2, h3, h4, h5 {
	margin-bottom: 0.5em;
}
p {
	font-size: 1.1em;
}
h2, h3, h4, h5 {
	font-weight: 300;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
em {
	font-style: italic;
	
	color: rgb(188, 242, 255);
}
em.smaller {
	font-size:0.75em;
}

#watch {

	a {
		color: white;
		&:visited, &:active {
			color: white;
		}
	}
	width: 100%;
	height: 100%;
	.title-information {
		margin-bottom: 1em;
	}
	.meta {
		width: 40em;
		height: 100%;
		background: black;
		background: rgba(0,0,0,0.8);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
		color: white;
		line-height: 2.6em;
		padding: 1em 1.5em;
	}
	.description {
		line-height: 1.75em;
		text-align: justify;
	}
}

.video-container {
	background: black;
	width: 100%;
	height: 100%;
	display: table;
	video {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		height: 100%;
	}
}

a.back {
	display: inline-block;
	background: #222;
	color: #ddd;
	padding: 0 0.25em;
	&:active, &:focus {
		outline: 5px solid rgb(148, 221, 255);
	}
}

.is-favourite {
	color: rgb(255, 0, 92);
}

#series {
	width: 100%;
	height: 100%;
	overflow: hidden;
	.series-information, .video-list {
		position: absolute;
		height: 100%;
		top: 0;
	}
	.series-information {
		overflow-y: hidden;
		width: 40%;
		left: 0;
		padding: 3em;
		background: rgba(0,0,0,0.9);
		color: white;
		h2 {
			font-weight: 300;
		}
	}
	.video-list {
		overflow-y: scroll;
		width: 60%;
		left: 40%;
		padding: 3em;
		a, a:visited {
			text-decoration: none;
			display: block;
			width: 100%;
			margin-bottom: 2em;
		}
		a:focus, a:hover {
			background: black;
			.video-tile {
				outline: 5px solid rgb(148, 221, 255);
			}
		}
	}
	.video-tile {
		padding: 2em;
		background: rgba(0,0,0,0.75);
		color: white;
		font-size: 1.1em;
		a:active {

		}
		.duration {
			position: absolute;
			top: 0;
			right: 0;
			background: rgba(0,0,0,0.8);
			padding: 0.25em 1em;
		}
	}
	.thumbnail-area {
		position: relative;
		float: left;
		margin-right: 2em;
		min-height: 236px;
		widows: 420px;
	}
	.thumbnails {
		min-height: 236px;
		width: 420px;
	}
	.video-thumbnail {
		width: 420px;
		height: auto;
		&.hidden {
			display: none;
		}
	}
	.poster-buttons {
		width: auto;
		border: 1px solid #333;
	}
}

#all_series {
	// background: url(/images/bg.jpg);
	// background-size: cover;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow-y: scroll;
	.poster-container {
		padding: 4em 8em;
	}
	.poster-link, .poster img { display: block; }
	.poster {
		position: relative;
		z-index: 2;
		overflow: hidden;
		float: left;
		width: 20em;
		color: white;
		img {
			width: 100%;
			height: auto;
			opacity: 0.8;
		}
	}
	.poster-link:focus, .poster-link:hover {
		img {
			opacity: 1;
		}
	}
	.poster-buttons {
		border: 1px solid #333;
		border-top: 0;
	}
}

.poster-buttons {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
}
.poster-button {
	display: block;
	float: left;
	padding: 0.5em 1em;
	color: #ddd;
	background-color: rgba(50, 50, 50, 0.5);
	background: linear-gradient(to bottom, rgba(30,30,30,0.4) 0%,rgba(30,30,30,0.85) 100%);
	text-shadow: 1px 1px 0px black;
	text-decoration: none;
	&.btn-primary {
		background: darken(green, 10%);
		&:hover, &:focus {
			background: green;
		}	
	}
	&:focus, &:hover {
		background-color: rgba(50, 50, 50, 0.7);
		box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.55);
		outline: 0;
	}
}