<div id="all_series">
	<div class="panel">
		<% if (series.length) { %>
		<div class="poster-container">
			<% _.each(series, function (serie) { %>
			<div class="poster">
				<% if (serie.series_metadata && serie.series_metadata.poster) { %>
					<a class="poster-link" href="/series/view/<%= serie.title %>">
						<img class="video-thumbnail" src="http://thetvdb.com/banners/<%= serie.series_metadata.poster %>" alt="">
					</a>
				<% } %>
				<div class="poster-buttons">
					<a href="#" class="poster-button">
						<i class="fa fa-heart"></i>
					</a>
					<a href="#" class="poster-button">
						<i class="fa fa-info-circle"></i>
					</a>
					<div class="clearfix"></div>
				</div>
			</div>
			<% }); %>
			<div class="clearfix"></div>
		</div>
		<% } else { %>
			<div>No series found.</div>
		<% } %>
	</div>
</div>