<div id="watch">
	<div class="meta">
		<h1 class="title"><%= video.title %></h1>
	</div>
	<div class="video-container">
		<video src="/videos/stream/<%= video.id %>" autoplay controls muted></video>
	</div>
</div>